<h1> Data Types in Python </h1>

<ol><li>    None
<li>     Numeric
<li>    Sequence
<ol><li>    List
<li>        Tuple
<li>        Set
<li>        String
<li>        Range </ol>
<li> Dictionary/Map

In [3]:
# None
i=None
print(i)

None

In [4]:
# Numeric -  int,float,complex and bool

#float
num=2.5
type(num)

float

In [6]:
#int
num=5
type(num)

int

In [7]:
#complex

num=6+9j
type(num)

complex

In [10]:
#Type conversion    float to int
a=5.6   #float
b=int(a)
print(type(b))
b

<class 'int'>

5

In [11]:
# convert int to float

k=float(b)
k      # float

5.0

In [13]:
# convert normal number to complex number

k=6
c=complex(b,k)
c

(5+6j)

In [14]:
# Boolean    True

b<k

True

In [15]:
bool=b<k     #True
bool

True

In [16]:
# False

b>k

False

In [18]:
# check True and False value
print(int(True))
print(int(False))

1
0

In [20]:
#list

lst=[25,36,45,12]
print(lst)
type(lst)

[25, 36, 45, 12]

list

In [24]:
#set    - take unique values

s={25,36,45,15,12,25}   
print(s)   
print(type(s))

{36, 25, 12, 45, 15}
<class 'set'>

In [25]:
# tuple
t=(25,36,4,57,12)
type(t)

tuple

In [26]:
#String
str="Guru"
print(type(str))

<class 'str'>

In [27]:
# Character

st='a'       #string type only
print(type(st))

<class 'str'>

In [30]:
# Range   and convert range into list
list(range(0,10))       # last element is 10-1 , so values from 0 to (10-1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [34]:
#range of values in difference

print(list(range(2,10,2)))
print(type(range(10)))

[2, 4, 6, 8]
<class 'range'>

In [44]:
# Dictionary/Map

d={1:'Guru',2:'World',3:'Universe'}
print(d)
print(d.keys())
print(d.values())
print(d[1])    #Fetch the specific value through key
print(d.get(1))   # Alternate way - Fetch the specific value through key

{1: 'Guru', 2: 'World', 3: 'Universe'}
dict_keys([1, 2, 3])
dict_values(['Guru', 'World', 'Universe'])
Guru
Guru