# Strings (array of bytes)
<ol>
<li> Strings declaration (single or double quote and multiline string ("""....""")
<li> String Indexing (Forward Indexing(0,1,2..) and Reverse Indexing(....,-3,-2,-1)
<li> String Operations
<li> String interpolation and formatting
</ol>

In [218]:
# String is immutable data type
# String declaration
name="CMRIT campus is in Whitefield"     # double quote
#type(name)
print(type(name))
course='Python'   # Single quote
print(type(course))
# multiline string declaration
description=""" ADCD   
                EFGH
                IJKL
                MNOP
            """           # multiline string
""" ADCD                    # multiline comment
                EFGH
                IJKL
                MNOP
            """
print(type(description))

<class 'str'>
<class 'str'>
<class 'str'>

In [219]:
# String Access
# Access substring  -- slicing operations
name[4]

'T'

In [220]:
# Extract the range of characters
# slicing operations using indices
a="Python is a interpreted programming language"
a[0:5]   # excluding 5, i.e 0,1,2,3,(5-1)

'Pytho'

In [221]:
# only staring index but there is no end index
a[5:]   # starts from index 5 till end of the string

'n is a interpreted programming language'

In [222]:
# only end index
a[:10]

'Python is '

In [223]:
# There is no start and end indices
a[:]

'Python is a interpreted programming language'

In [224]:
# inlcude 'step' value in slicing
a[0:15:2]

'Pto sait'

In [225]:
# Reverse the string using the substring/slicing methods
a[::-1]     # No start and end indices ....step is -1 (negative)

'egaugnal gnimmargorp deterpretni a si nohtyP'

In [226]:
name[-5:-1]    # excluding -1 index    small to big index value

'fiel'

In [227]:
name[-1:-5]   # error

''

# String Methods (built-in string functions)

In [228]:
# Display the string
a="hello"
print(a)

hello

In [229]:
# length of the string
a="Python is a interpreted programming language"
len(a)   # including spaces

44

In [230]:
name.capitalize()    # first letter is in uppercase
# The changes wont  reflect in the original after capitalize. String is immutable type. Refer next the output of next cell

'Cmrit campus is in whitefield'

In [231]:
print(name)

CMRIT campus is in Whitefield

In [232]:
# Count the number of occurrences
name.count('i')    # case sensitive

4

In [233]:
name.count("W",0,len(name))   # count the occurrences of 'W' from starting index  0 to end of the string

1

In [234]:
# Find the index of the specific character
name.find('I')

3

In [235]:
name.find('I',0,len(a))    # returns the index value of the 1st occurrence of the given string 'welcome'

3

In [236]:
# Find the firt occurrence of the character in reverse
name.rfind('I',0,len(name))

3

In [237]:
name.index('I')

3

In [238]:
name.index('I',0,len(name))   # returns the index value(integer)

# output of find() and index() are same

3

In [239]:
name.rindex('I',0,len(name)) # in reverse

3

In [240]:
name="In6"
#name="kj lk"    # space is not alpha numeric
name.isalnum()

True

In [241]:
name="abc"
#name="In6"
name.isalpha()

True

In [242]:
name="986"
name.isdecimal()

True

In [243]:
name="win"
name.islower()

True

In [244]:
name="GREAT"
name.isupper()

True

In [245]:
# convert upper to lower
name="GREAT"
name.isupper()
#name.lower()
#a.upper()

True

In [246]:
# swapcase()   , converts lower to upper and vice versa
c="hElLo WelComE"
c.swapcase()

'HeLlO wELcOMe'

In [247]:
# Checking title case
d="Hello Welcome To Python Programming"
d.istitle()

True

In [248]:
# title() , convert into title case
a="hi hello"
a.title()

'Hi Hello'

In [249]:
# max()
a="hello"
max(a)   # The character has highest ASCII value than other characters in the string 'a'

'o'

In [250]:
# min()
a="hello"
min(a)

'e'

In [251]:
a="you welcome"
min(a)    # space has the lowest ASCII value than other characters present in the string 'a'

' '

In [252]:
name="GREAT"
name.replace('A','E')

'GREET'

In [253]:
name=" CMRIT campus is in Whitefield "
name=name.strip()                     # remove leading trailing whitespaces
print(name)

CMRIT campus is in Whitefield

In [254]:
# split the given string into sub strings
a="Python is a interpreted programming language"
#a.split("is")   # split a single string into two string by the splitting word 'is'
a.split()   # if no parameter passed, split all the words

['Python', 'is', 'a', 'interpreted', 'programming', 'language']

In [255]:
# center(width,fillchar)   width-> number of spaces, string is centered by leading and trailing with the character 'X'
b="hello"
b.center(11,"X")

'XXXhelloXXX'

In [256]:
a="hello welcome to python programming"
a.center(11,"X")    # the character didnt fill any spaces because the length of the string is greater than 11

'hello welcome to python programming'

In [257]:
# startswith(str,begin,end)
a="hello welcome to python programming"
a.startswith("hello",0,len(a))

True

In [258]:
# endswith(str,beg,end)
a.endswith('ing',0,len(a))
# a.endswith('python',0,len(a))

True

# String Operations

In [259]:
# String Concatenation
a="Python"
b="language"
a+b

'Pythonlanguage'

In [260]:
a*3

'PythonPythonPython'

In [261]:
a+b*2

'Pythonlanguagelanguage'

In [262]:
# String Interpolation   
# place holders
# percentage formatting
c="You can learn %s easily as %s" % (a,b)    # %s is place holder for the values in the tuple
c

'You can learn Python easily as language'

In [263]:
# String support
c=f'You can learn {a} easily as {b}'
c

'You can learn Python easily as language'

In [264]:
# string.format()

c="You can learn {a} easily as {b}".format(a=a,b=b)
c

'You can learn Python easily as language'

In [265]:
# Template strings
from string import Template
c=Template("You can learn $a easily as $b")
c.substitute(a=a,b=b)

'You can learn Python easily as language'